In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [15]:
userID=13

In [16]:
gsrfile= "../users/%s/gsr_readings.csv.filtered" % userID
eventsfile= "../users/%s/events.csv" % userID

In [29]:
gsr_data=pd.read_csv(gsrfile)
gsr_data.head()

,Unnamed: 0,Unnamed: 0.1,voltage,timestamp,normalised_voltage
0,0,0,0.676025,2019-02-25 16:33:03.621881,0.654234
1,1,1,0.674561,2019-02-25 16:33:04.021881,0.652218
2,2,2,0.676025,2019-02-25 16:33:04.421881,0.654234
3,3,3,0.675293,2019-02-25 16:33:04.821881,0.653226
4,4,4,0.674561,2019-02-25 16:33:05.221881,0.652218

In [26]:
gsr_data=gsr_data.drop(gsr_data.columns[0:2],axis="columns")

In [ ]:
events = pd.read_csv(eventsfile)
events=events.drop(events.columns[0],axis="columns")

In [27]:
#gsr_data=gsr_data.drop(gsr_data.columns[0],axis="columns")
gsr_data.head(1)

   normalised_voltage
0            0.654234

In [28]:
events.head()

   event                   timestamp
0      0  2019-02-25 16:34:17.577554
1      1  2019-02-25 16:34:19.475878
2      1  2019-02-25 16:34:26.199112
3      1  2019-02-25 16:34:26.549755
4      1  2019-02-25 16:34:26.850411