In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
userID=14

In [3]:
gsrfile= "../users/%s/gsr_readings.csv.filtered" % userID
eventsfile= "../users/%s/events.csv" % userID

In [4]:
gsr_data=pd.read_csv(gsrfile)
gsr_data.head()

,Unnamed: 0,Unnamed: 0.1,voltage,timestamp,normalised_voltage
0,0,0,0.791016,2019-02-25 16:41:34.614562,1.000000
1,1,1,0.789551,2019-02-25 16:41:35.014562,0.996409
2,2,2,0.788086,2019-02-25 16:41:35.414562,0.992819
3,3,3,0.786621,2019-02-25 16:41:35.814562,0.989228
4,4,4,0.780762,2019-02-25 16:41:36.214562,0.974865

In [5]:
gsr_data=gsr_data.drop(gsr_data.columns[0:2],axis="columns")

In [6]:
events = pd.read_csv(eventsfile)
events=events.drop(events.columns[0],axis="columns")

In [18]:
gsr_data.timestamp=pd.to_datetime(gsr_data.timestamp)
events.timestamp=pd.to_datetime(events.timestamp)

In [17]:
#gsr_data=gsr_data.drop(gsr_data.columns[0],axis="columns")
gsr_data.head(1)

    voltage                  timestamp  normalised_voltage  inv_voltage
0  0.791016 2019-02-25 16:41:34.614562                 1.0     1.264198

In [19]:
events.head()

   event                  timestamp
0      0 2019-02-25 16:42:43.036974
1      1 2019-02-25 16:42:43.049459
2      1 2019-02-25 16:42:54.027766
3      1 2019-02-25 16:42:54.387858
4      1 2019-02-25 16:42:54.688523

In [ ]:
# import dill
# dill.dump_session("Analysis.db")

In [ ]:
# import dill
# dill.load_session("Analysis.db")

In [9]:
%matplotlib

Using matplotlib backend: TkAgg

In [10]:
gsr_data["inv_voltage"]=1/gsr_data["voltage"]

In [11]:
gsr_data.head(5)

    voltage                   timestamp  normalised_voltage  inv_voltage
0  0.791016  2019-02-25 16:41:34.614562            1.000000     1.264198
1  0.789551  2019-02-25 16:41:35.014562            0.996409     1.266543
2  0.788086  2019-02-25 16:41:35.414562            0.992819     1.268897
3  0.786621  2019-02-25 16:41:35.814562            0.989228     1.271260
4  0.780762  2019-02-25 16:41:36.214562            0.974865     1.280801

In [ ]:
#plt.plot(gsr_data.timestamp,gsr_data.inv_normvoltage)

In [20]:
plt.plot(gsr_data.timestamp,gsr_data.inv_voltage)
plt.stem(events.timestamp,events.event)

/home/pi/xxx/lib/python3.5/site-packages/pandas/plotting/_converter.py:129: FutureWarning: Using an implicitly registered datetime converter for a matplotlib plotting method. The converter was registered by pandas on import. Future versions of pandas will require you to explicitly register matplotlib converters.

To register the converters:
	>>> from pandas.plotting import register_matplotlib_converters
	>>> register_matplotlib_converters()
  warnings.warn(msg, FutureWarning)